---
layout: page
title: Python
subtitle: python 基础, 数据分析与可视化
use-site-title: true
---

{% assign count = 0 %}
<ol class="post-card-box clearfix">
    {% for post in site.posts %}
<article class="post-preview">
    {% if post.k8s%}
<li>
<div class="post-card">

        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-image" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )">
</a>

<div class="blog-tags">
      <a href="{{post.url | prepend: site.baseurl}}" class="post-card-link"> <h4 class="post-card-title" style="display:inline">{{post.title}}</h4>  Posted on {{ post.date | date: "%B %-d, %Y" }}</a>

<div class="blog-tags" >
        <a href="{{post.url | prepend: site.baseurl}}" style="text-decoration: none; color: inherit;margin-right:20px;">{{ post.content | strip_html | strip_newlines | truncate: 100 }}</a>
</div>
    {% for tag in post.tags %}
        <!--<a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>-->
    Tags:  <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">{{ tag }}&#32;</a>
    {% endfor %}
    labels:
    {% for label in post.labels %}
        <!--<a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>-->
<a href="#" class="tag">{{ label }}&#32;</a>
    {% endfor %}

</div>
</div>
</li>
    {% endif %}
</article>
    {% endfor %}
</ol>